{% extends "backbone.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div id="searchpanel" class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Search for Tiny Images</h3></div>
                <div class="panel-body">

                    <form id="query_form" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-12" for="slider">Accuracy of Tag:</label>
                            <div class="col-md-2" style="margin-left: 2px">40%</div>
                            <div class="col-md-8" style="margin-left: -7px">
                                <input id="slider" type="text" class="span2" value="" data-slider-min="40" data-slider-max="100" data-slider-step="10" data-slider-value="[50,90]"/>
                            </div>
                            <div class="col-md-2" style="margin-left: -3px">100%</div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-12" for="multiselect">Tag Category:</label>
                            <select id="multiselect" class="selectpicker col-md-12" multiple>
                                <option>airplane</option>
                                <option>automobile</option>
                                <option>bird</option>
                                <option>cat</option>
                                <option>deer</option>
                                <option>dog</option>
                                <option>frog</option>
                                <option>horse</option>
                                <option>ship</option>
                                <option>truck</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <button id="query_button" type="button" style="margin-right: 14px" class="btn btn-primary col-md-4 pull-right">Search</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
            <span id="image_results">
                <!-- TEMPLATE -->
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="/plot.png" alt="truck">
                        <center><h5>TRUCK, 48%</h5></center>
                    </div>
                </div>
            </span>
            </div> <!-- END INDIVIDUAL IMAGE ROW -->
        </div> <!-- END IMAGE RESULTS COLUMN -->
    </div> <!-- END MAIN PAGE ROW -->

{% endblock %}

{% block footer %}
    <script>
        var slider = null;
        $(document).ready(function() {
            slider = new Slider('#slider', {});
        });

        $(function() {
            $("button#query_button").click(function() {
                $.ajax({
                    type: "POST",
                    url: "/query",
                    contentType: 'application/json',
                    dataType:"json",
                    data: JSON.stringify({
                        "tags":$('.selectpicker').val(),
                        "accuracies":slider.getValue()
                        }),
                    success: function(msg) {
                            //console.log(msg.images[0].data)
                            //json_response = JSON.stringify(msg);
                            
                                tag_lookup = {
                                    "0":"airplane",
                                    "1":"automobile",
                                    "2":"bird",
                                    "3":"cat",
                                    "4":"deer",
                                    "5":"dog",
                                    "6":"frog",
                                    "7":"horse",
                                    "8":"ship",
                                    "9":"truck" 
                                }

                            var html_response = "";   
                            for (image_index in msg.images) {
                                image = msg.images[image_index]
                                html_response = html_response +
                                '<div class="col-md-3">' +
                                    '<div class="text-center thumbnail">' +
                                        '<canvas id="' + image_index + '" width="32" height="32" class="rotate90">Your browser does not support the HTML5 canvas tag.</canvas>' +
                                        '<center><h5>'+tag_lookup[image.label_i] + ', ' + (image.num_tree_i*10) + '%</h5></center>' +
                                    '</div>' +
                                '</div>'
                            }                        
                            $('span#image_results').html(html_response);
                            
                            console.log("# images");
                            console.log(msg.images.length);
                            for(var i=0; i < msg.images.length; i++) {
                                pixel_data = msg.images[i].data;

                                var canvas = document.getElementById(i);
                                var ctx = canvas.getContext('2d');
                                var imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);

                                var buf = new ArrayBuffer(imageData.data.length);
                                var buf8 = new Uint8ClampedArray(buf);
                                var data = new Uint32Array(buf);
                                
                                for (var y = 0; y < canvas.height; ++y) {
                                    for (var x = 0; x < canvas.width; ++x) {
                                        img_index = y*canvas.width + x;
                                        pixel_index = img_index*4;
                                        if (x==1 && y==0) {
                                            console.log(pixel_data[pixel_index+3]);
                                            console.log(pixel_data);
                                        }
                                        data[img_index] =
                                            (255   << 24) |    // alpha
                                            (pixel_data[pixel_index+2] << 16) |    // blue
                                            (pixel_data[pixel_index+1] <<  8) |    // green
                                             pixel_data[pixel_index];            // red
                                    }
                                }

                                imageData.data.set(buf8);

                                ctx.putImageData(imageData, 0, 0);
                            }
                        },
                    error: function() { alert("failure"); } 
                });
            });
        });
    </script>
{% endblock %}
